<template name="carousel">
  <div class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="0"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/sample1.jpg" width="100%" alt="">
      </div>
      <div class="item">
        <img src="/sample1.jpg" width="100%" alt="">
      </div>
    </div>
  </div>
</template>
